<div class="col d-block">
    <h2 class="">Game</h2>
    <div class="field">
        <div class="container-fluid game-container position-relative">
            <div class="end-game d-none">
                <div class="row header">
                    <div class="col">
                        <h1 class="text-white"></h1>
                    </div>
                </div>
            </div>
            <div class="row game-info-row">
                <div class="col-6 col-md-2">
                    <h4 class="text-white" id="player_turn">
                        <span></span>
                        <i class="fa-solid fa-user-astronaut"></i>
                    </h4>
                </div>
                <div class="col-6 col-md-2">
                    <h4 class="text-white" id="counter">
                        Time: <span>01:00</span>
                    </h4>
                </div>
                <div class="col-12 col-md-4">
                    <h4 class="text-white" id="matches">
                        Matches Found: <span></span>
                    </h4>
                </div>
                <div class="col-6 col-md-2">
                    <h4 class="text-white" id="rounds_count">
                        Round: <span></span>
                    </h4>
                </div>
                <div class="col-6 col-md-2">
                    <a href="/Dashboard" class="btn btn-danger text-white">Exit</a>
                </div>
            </div>
            <div class="row-cards position-relative"></div>
        </div>
    </div>
</div>