<form action="/authentication" method="POST" onsubmit="handleSubmit()" class="animate__animated animate__flipInX" id="loginForm">
  <div class="container auth-form">
      <div class="row mb-2 logo">
          <div class="col">
              <img src="/img/logo.png" alt="">
          </div>
      </div>
      <div class="row mb-3">
          <div class="col">
              <label for="email" class="text-white">Email</label>
              <input type="text" name="email" id="email" class="form-control" placeholder="example@something.com" required>
          </div>
      </div>
      <div class="row mb-3">
          <div class="col">
              <label for="password" class="text-white">Password</label>
              <input type="password" name="password" id="password" class="form-control" placeholder="********" required>
          </div>
      </div>
      <div class="row mb-3">
          <div class="col text-end">
              <a href="/Forgot%Password" class="text-white">Forgot Password?</a>
          </div>
      </div>
      <div class="row mb-3">
          <div class="col d-grid gap-2">
              <button type="submit" class="btn btn-warning text-white">Login</button>
          </div>
      </div>
      <div class="row mb-3">
          <div class="col text-center">
              <a href="/SignUp" class="text-white">Sign Up</a>
          </div>
      </div>
      <!-- <div class="row social-login">
        <div class="col">
            <a href="#" onclick="loadSocialPopUp()" id="apple">
                <img src="/img/apple.png" width="40" alt="">
            </a>
            <a href="#" onclick="loadSocialPopUp()" id="google">
                <img src="/img/google.png" width="40" alt="">
            </a>
            <a href="#" class="p-1" onclick="loadSocialPopUp()" id="meta">
                <img src="/img/meta.png" width="30" alt="">
            </a>
        </div>
      </div> -->
  </div>
</form>