<div class="col d-block">
    <div class="row">
        <div class="col">
            <h2>New Game</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-danger text-white" data-bs-toggle="modal" data-bs-target="#mainModal" id="createGame">Start</button>
        </div>
    </div>
</div>