<div class="container-fluid d-block">
    <div class="row breadcrumb">
        <div class="col">
            <h5>
                <i class="fa-solid fa-chevron-left" onclick="loadModule({'module': 'sets'})"></i>
                Sets / Cards
            </h5>
        </div>
    </div>
    <div class="set-cards-content">
        <div class="row"></div>
    </div>
</div>