$primary: #084C61;
$danger: #db3a34;
$warning: #ffc857;
$success: #177e89;
$secondary: #323031;
$info: #f26419;
$modal-content-bg: rgba(51, 51, 51, 0.6);
$modal-content-color: #ffffff;
$modal-content-border: 0;
$modal-backdrop-bg: transparent;
$modal-header-border-width: 0;
$modal-footer-border-width: 0;
$sidebar-left: 180px;
$module-block-bg: #F8F8F8;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+NKo&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans NKo', sans-serif;
    scroll-behavior: smooth;
}

%btn-login {
    background: $danger;
    border: $danger;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    position: relative;
}

.alert {
    position: absolute;
    max-width: 400px;
    right: 10px;
    z-index: 1000000;
}

// Auth Page styles
.auth-background {
    background-image: url(../img/8PynAH.jpg);
    background-size: 100%;
    // filter: blur(3px);
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
}
.auth-container {
    overflow: hidden;
    min-height: 100vh;
     .row-form {
        .col-left {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            form {
                position: absolute;
                padding: 20px;
                width: 80%;
                .auth-form {
                    border-radius: 10px;
                    padding: 30px;
                    background: RGBA(23,126,137,0.47);
                    .logo .col {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 100%;
                            max-width: 400px;
                        }
                    }
                    .social-login {
                        .col {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;

                            a {
                                background: #ffffff;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dashboard-container {
    background: #ffffff;
    background-image: url(../img/snorlax-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 8em;
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    justify-content: center;
}

.side-nav {
    display: flex;
    height: 100vh;
    align-items: center;;
    ul {
        position: fixed;
        left: 2.5em;
        margin: 0;
        padding: 0;
        background: #000000;
        list-style: none;
        display: flex;
        flex-direction: column;
        height: 98%;
        border-radius: 10px;
        min-width: 87px;
        li {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 15px 0;
            font-size: 1.5em;            
            a {
                min-width: 27px;
                max-width: 27px;
                text-align: center;
            }

            // img {
                // position: relative;
                // left: -6px;
            // }

        }

        li:not(.active) {
            cursor: pointer;
        }

        li.active {
            background: #ffffff;
            border-radius: 20px 0 0 20px;
            position: relative;
            margin: 0 10px;
            a.text-white {
                color: #000000 !important;
                cursor:auto;

                i {
                    position: relative;
                    left: -10px;
                }
            }
        }

        li.active a::before {
            content: " ";
            width: 20px;
            height: 20px;
            display: flex;
            background: #ffffff;
            position: absolute;
            top: -0.80em;
            left: 4rem;
        }

        li.active a::after {
            content: " ";
            width: 20px;
            height: 20px;
            display: flex;
            // background: blue;
            background: #000000;
            position: absolute;
            top: -0.82em;
            left: 2.39em;
            border-radius: 0 0 10px 0;
        }
        
        li.active::before {
            content: " ";
            width: 20px;
            height: 20px;
            display: flex;
            background: #ffffff;
            position: relative;
            top: 2em;
            left: 2.5em;
        }
        li.active::after {
            content: " ";
            width: 20px;
            height: 20px;
            display: flex;
            // background:blue;
            background:#000000;
            position: relative;
            top: 2.13em;
            left: 0;
            border-radius: 0 10px 0 0;
        }
    }
}

.main-container {
    display: flex;
    // background-color: red;
    // flex-wrap: wrap;
    flex-direction: column;
    left: $sidebar-left;
    width: 100%;

    .navbar-theme {
        background: transparent;

        form {
            input {
                padding: .7em 0 .7em 2em;
                border: 0;
                background: #f7f7f7;
                width: 20vw;
            }

            span {
                display: flex;
                align-items: center;
            }

            span::before {
                content: "\f002";
                font-family: "FontAwesome";
                font-size: 1.2em;
                position: absolute;
                width: 20px;
                height: 20px;
                color: #000;
                justify-content: center;
                align-items: center;
                // background: red;
                display: flex;
                left: 1em;
            }
        }

        ul.navbar-nav {
            display: flex;
            align-items: center;
            li {
                margin: 0 .5em;
                font-size: 1.2em;
            }
            .dropdown {
                .nav-link.dropdown-toggle::after {
                    all: unset;
                }
                img {
                    border-radius: 50%;
                    height: 40px;
                }
            }
        }


    }
}

.d-content {
    margin-top: 40px;
}

.d-block {
    background: $module-block-bg;
    border-radius: 10px;
    padding: 20px 25px;
}

.modal-content {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter:initial;

    .modal-body {
        .row {
            margin: 20px auto;
        }
    }

    .modal-header {
        h1 {
            margin: 0 auto;
            font-size: 2rem;
        }

        button {
            margin: 0;
            position: absolute;
            right: 0.5em;
            top: 1em;
        }
    }

    .modal-footer {
        display: flex;
        justify-content: space-between;
    }
}

.set-table {
    max-height: 500px;
    overflow-y: scroll;
    scroll-behavior: smooth;

    #setsTable {
        tr {
            cursor: pointer;
        }
    }
}

// Modules

.breadcrumb {
    transition: 0.5s all;
    i {
        margin-right: 1em;
        cursor: pointer;
    }
}

.fixed-top {
    position: fixed;
    top: 0;
    left: $sidebar-left;
    width: 100%;
    padding: 20px 10px;
    background: $module-block-bg;
    // height: 90px;
}
.set-cards-content {
    margin-top: 5em;

    .row {
        .col {
            margin-bottom: 1em;
            cursor: pointer;
            transition: 1.5s all;
        }

        .col:hover img {
            transform: scale(2);
        }
    }

}

// Loading effects
.loading-container {
    transition: 1s all;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: RGBA(23,126,137,0.35);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

// Styles for number inputon modal
input.num::-webkit-outer-spin-button,
input.num::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.num {
    -moz-appearance: textfield;
}

#playersInputs {
    .col-12 {
        margin: 10px auto;
    }
}

.flipped {
    transform: rotateY(180deg);
}

.game-container {
    background-image: url(../img/battle-field.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

    .game-info-row {
        padding: 1.5em 0;
        .col-2, .col-4 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .row-cards {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        position: relative;
        margin: 0 auto;
        justify-content: center;
        padding: 3em 0;
        .pokecard.flip-card {
            z-index: 10000;
            cursor: pointer;
            background-color: transparent;
            width: 110px;
            height: 150px;
            // border: 1px solid #f1f1f1;
            transition: 1s all;
            perspective: 1000px; /* Remove this if you don't want the 3D effect */
    
            /* This container is needed to position the front and back side */
            .flip-card-inner {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.8s;
                transform-style: preserve-3d;
                transition: 1s all;
                /* Position the front and back side */
                .flip-card-front, .flip-card-back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    -webkit-backface-visibility: hidden; /* Safari */
                    backface-visibility: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                /* Style the front side (fallback if image is missing) */
                .flip-card-front {
                    // background-color: #bbb;
                    color: black;
                }
    
                /* Style the back side */
                .flip-card-back {
                    // background-color: dodgerblue;
                    color: white;
                    // transform: rotateY(180deg) scale(1.3);
                    transform: rotateY(180deg);
                }
            }
        }
    }
}

.end-game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: RGBA(51,51,51,0.62);
    z-index: 100000;
    left: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter:initial;
    transition: 1S all;

    .row {
        width: 50%;
        .col {
            display: flex;
            justify-content: center;
            align-items: center;

            table {
                margin: 20px 0;
                width: 60%;
            }
        }
    }
}

.matched-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%;
    height: 94%;
    position: absolute;
    z-index: 1000;
    top: 4px;
    right: 4px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter:initial;
}

// Reflection effect
.matched-card:after {
    animation: shine 5s ease-in-out infinite;
    animation-fill-mode: forwards;  
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
        to right, 
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0.0) 100%
    );
}

.matched-card:active:after {
    opacity: 0;
}

// Animations
@keyframes shine {
    10% {
      opacity: 1;
      top: -30%;
      left: 130%;
      transition-property: left, top, opacity;
    //   transition-duration: 0.7s, 0.7s, 0.15s;
      transition-duration: 0.9s, 0.9s, 0.20s;
      transition-timing-function: ease;
    }
    100% {
      opacity: 0;
      top: -30%;
      left: 130%;
      transition-property: left, top, opacity;
    }
}

.toggle-menu {
    display: none;
    cursor: pointer;
    padding: 2px 5px;
}

.toggle-menu:hover {
    border: 0.2em solid #868686;
    border-radius: 5px;
}

.close-menu-btn {
    display: flex;
    position: absolute;
    margin: 1em;
    background: transparent;
    border: none;
    color: #db3a34;
}

// Media queries

@media screen and (max-width: 1200px) {
    .row.login-row {
        margin: 10px 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .notification-item {
        display: none !important;
    }
    .sidebar {
        display: none;
        z-index: 10000;
        position: absolute;
        right: 0;
        background: RGBA(0,0,0,0.33);
        width: 100%;
        .side-nav {
            ul {
                right: 0;
                left: unset;
                height: 100%;
                border-radius: 0;
                width: 40%;

                li.active {
                    background: #ffffff;
                    border-radius: 20px 0 0 20px;
                    position: relative;
                    margin: 0 10px;
                    a.text-white {
                        color: #000000 !important;
                        cursor:auto;
        
                        i {
                            position: relative;
                            left: -10px;
                        }
                    }
                }
        
                li.active a::before {
                    all: unset;
                }
        
                li.active a::after {
                    all: unset;
                }
                
                li.active::before {
                    all: unset;
                }
                li.active::after {
                    all: unset;
                }
                
            }
        }
    }
    .main-container {
        left: 0;
    }
    #username {
        display: none;
    }
    #navbarSupportedContent {
        form {
            input {
                width: 100%;
            }
        }
    }
    .toggle-menu {
        display: block;
    }
}