<form action="" method="POST" id="rulesForm">
    <div class="row">
        <div class="col">
            <label for=""># Players</label>
            <input type="text" class="form-control" placeholder="Players">
        </div>
        <div class="col">
            <label for="">Rounds</label>
            <input type="text" class="form-control" placeholder="1,2,3,4">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="">Matches</label>
            <input type="text" class="form-control" placeholder="1,2,3,4">
        </div>
        <div class="col">
            <label for="">Card Set</label>
            <select name="" id="" class="form-select">
                <option value="">Select Set</option>
            </select>
        </div>
    </div>
</form>

<form action="" id="namesForm">
    <div class="row">
        <div class="col">
            <label for="">Names</label>
            <input type="text" class="form-control" placeholder="Players Names">
        </div>
    </div>
</form>