<header>
    <nav class="side-nav">
        <ul>
            <li>
                <img src="/img/pokeball.png" width="60" alt="">
            </li>
            <li class="active">
                <a href="" class="text-white">
                    <i class="fa-solid fa-house"></i>
                </a>
            </li>
            <li class="">
                <a href="" class="text-white">
                    <i class="fa-solid fa-clipboard-list"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>