<header>
    <nav class="side-nav" id="side-nav">
        <ul>
            <li>
                <img src="/img/pokeball.png" width="60" alt="">
            </li>
            <li class="" id="game">
                <a href="#" class="text-white">
                    <!-- <i class="fa-solid fa-house"></i> -->
                    <i class="fa-solid fa-gamepad"></i>
                </a>
            </li>
            <li id="sets">
                <a href="#" class="text-white">
                    <i class="fa-solid fa-clipboard-list"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>