<header>
    <form action="" class="d-search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" class="form-control" placeholder="Search...">
    </form>
    <ul class="top-nav">
        <li>
            <a href="" class="text-white">
                <i class="fa-regular fa-bell"></i>
            </a>
        </li>
        <li>
            <a href=""><%= user %></a>
        </li>
        <li>
            <a href="" class="avatar-img">item3</a>
        </li>
    </ul>
</header>